# Homework #1

**Due: Friday Oct. 13th @ 11:59 pm**

**Objective:** This assignment will give you experience using a Jupyter notebook to write text and code, including variables, mathematical operations, string, and list manipulations.


## **Instructions:**
### Accessing Class Code

1. Create a new private repository on your GitHub account and name it "homework_1". This will be your personal GitHub repository that you will submit to Gradescope. **DO NOT** initialize your repository with a README! This will create a different commit than the repository you will eventually push to your GitHub and create conflicts, so please make sure it is completely empty to start with.

2. Go to the class GitHub Homework 1 [repository](https://github.com/OCEAN-215-2023/homework_1). 

3. Find the **SSH** URL (review Assignment #0b if you don't remember how to do this), and copy the URL to your clipboard.

4. In your JupyterHub terminal, change to your home directory. Run this line of code to clone the public classic repository into your local server: 
``` git clone git@github.com:OCEAN-215-2023/homework_1.git ```

5. Sometimes, our JupyterHub server has trouble remembering the file permissions for our SSH keys. If you get a file permission error with your private ssh key, run this line of code:
```chmod 400 ~/.ssh/id_ed25519``` 
<br>

This will change your file permission to the proper permissions that SSH requires.

6. There should now be a "homework_1" directory in the home directory of your JupyterHub. In terminal, change directories into "homework_1". Next, click on the the "homework_1" icon on the filepath hierarchy in the left panel of JupyterHub. If you don't see it, make sure you're in the home folder by clicking the folder icon under the search bar. 

7. In terminal, set your branch to main (step 17 in #0b) and your remote (origin) to your **_personal_** "homework_1" GitHub repository (step 18). Use these lines of code (you will only need to do these steps once to set up in the beginning): 
``` git init ``` <br>
``` git branch -M main``` <br>
``` git remote set-url origin __your_ssh_url_here__```

To check if your remote origin is set correctly, run: <br>
``` git remote -v ```

You should see an SSH URL with your GitHub username. 

8. Double click the "HW1.ipynb" to open it in a new tab and begin working on the assignment. Read the instructions carefully, and make sure to write your answers in the specified cells. Typically, you will see a "..." in the places you need to fill in. Make sure to use the variable names provided in the starter code. See the "Working in your Notebook" section below for an example.

9. Create a README file and write your name and UW NetID. Include a paragraph of instructions on how you used git commands to add, commit, and push to your repository (3-5 sentences). Now that y'all are GitHub connoisseurs, imagine that you are explaining how to use GitHub to someone who has never used GitHub before! :) 

10. As you continue to answer the homework questions and make edits to your code, make sure to regularly update your GitHub repository as well via git add, commit, and push (steps 15, 16, 19 in 0b). A good rule of thumb would be to run these git steps anytime you make an addition or change that you don't want to accidentally lose. Generally, you can push once a day to maintain good version control practices. <br>
As a note, make sure that your git commands are running without errors before you refresh your GitHub and check your changes. If you are not seeing the updated changes you created in your local JupyterHub directory, check where your status is by this command: <br>
``` git status```

Then, you can see if you made an error with your git add, commit, or push commands. 
    
### Submitting to GradeScope

11. Go to the class Gradescope dashboard and submit your **_private_** GitHub repository link to Homework 1 assignment. Make sure your GitHub is synchronized with Gradescope to access both your public _and_ private repositories. If prompted, log in to GitHub.

12. Run the autograder to check if your code runs and if you passed the initial unit tests. You should be able to run the autograder as many times as you want before submitting. Again, double check that your final answers are stored in the provided variable names given in the starter code!

13. Once the autograder has finished running, check that you have submitted the assignment. If you make any more changes to your code after submitting to Gradescope, make sure to push your changes to GitHub and resubmit the assignment on Gradescope. You can submit as many times as you want as there is no maximum submission attempts, but be sure to have your final submission in before the deadline.

### Working in your Notebook
    
   To help you start thinking about how to write meaningful and concise variable names, we have provided variable names in most of your questions. For example, "pelagic" and "coastal" are variable names in Question 2a to describe different oceanic zones you will be comparing. <br>
![Question_2a](part_a.png)
    Note that there is an ellipsis (the "...") after each of the variable names. These are the sections you are expected to fill in. Please use the provided variable names (ie "pelagic" and "coastal" in the above example) to report your final answer back in. This will ensure that the autograder on Gradescope runs properly. <br>
    <br>Make sure that you are adding comments and your outside references as you go along! Part of your grade will include using best coding practices in your homework assignments. 

### Honor Code

- Complete the assignment by writing and executing text and code cells as specified. For this assignment, do not use any features of Python that have not yet been discussed in the lessons or class sessions.

- Please keep in mind our late work and dropped homework grading policy. Review the syllabus for details.

- You can acknowledge and describe any assistance you've received on this assignment in the specified cell of the HW1 notebook, whether that was from an instructor, classmate (either directly or on Piazza), and/or online resources other than official Python documentation websites like docs.python.org or numpy.org. Alternatively, if you prefer, you may acknowledge assistance at the relevant point(s) in your code using a Python comment (#). Don't forget that you can receive extra credit from answering at least one question on Ed Discussion!

*Acknowledge assistance here or in comments above your code:*

<!-- BEGIN QUESTION -->

# Question 1 (20 points)

Although the goal of OCEAN 215 is not to teach "data science" per se, we hope this course will give you a window into the possibilities offered by data analysis. If you find that you enjoy working with data and writing computer code, you might want to consider a career in academic research or data science. But what is data science, precisely? To better understand this rapidly-growing field, we would like you to read the following article (which should take about 15 minutes), then answer the questions below. There are no wrong answers, but please respond thoughtfully with 2-3 sentences for each. 

Article: "What is data science?" Thinkful. https://www.thinkful.com/blog/what-is-data-science/. Read up until the "Your Turn" section.

> a) What data do you think you have generated today that might, at some point, be analyzed by a data scientist (5 points)?

> b) Can you think of an oceanography data set that could be considered "big data"? Why would it be classified as such (5 points)?

> c) The article describes how machine learning can be useful for making predictions and identifying relationships in data. Can you think of a research question or task in oceanography or your academic area of interest that might benefit from machine learning? Why might machine learning be particularly useful for that task (10 points)?

a) Data from companies like "23 and me" and "ancestory.com" that find information about people's ancestory from their DNA. 
b) The tidal cycle across a large time span, such as 100+ years. 
c) How will the oceanic ecosystems alter in response to rising temperatures. Machine learning can look at past records of changing temperatures to make predictions about the future response of the ocean to higher temperatures.

<!-- END QUESTION -->

# Question 2 (25 points)

The depth of the photic zone (the maximum depth where photosynthesis can occur) in the ocean varies. In clear, pelagic water the photic zone extends to 200 meters depth. In turbid coastal water, the photic zone might only extend to 50 meters depth.

Diatoms are a type of phytoplankon (plankton that photosynthesize for energy). They have silica cell walls, and have no appendages for swimming. They must remain near the ocean surface in the photic zone to photosynthesize. To do this, they regulate their bouyancy to sink as slowly as possible. A small diatom might sink 0.9 feet/day, while a large one might sink 13.5 feet/day.

Use this information to answer the following questions by writing Python code in the cell below. **Please have your code output (print) each question part and the solution, including the units!**


> a) Assign the depth of the pelagic photic zone, coastal photic zone, small diatom sinking rate, and large diatom sinking rates to assigned variable names and print them. (5 points)

> b) Convert the sinking rate of each diatom type to meters/day. (5 points)

> c) Convert the sinking rate of each diatom type to centimeters/hour. (5 points)

> d) Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in turbid coastal water. (5 points)

> e) Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in clear pelagic water. (5 points)

In [1]:
##Example code for printing answers
"""
answer = 50
units = "hours"
print("part f)",answer,units)
"""
# Provide your answers in the cells below:

'\nanswer = 50\nunits = "hours"\nprint("part f)",answer,units)\n'

### part a
Assign the depth of the pelagic photic zone, coastal photic zone, small diatom sinking rate, and large diatom sinking rates to assigned variable names and print them. (5 points)

In [2]:
pelagic = 200
coastal = 50
time = 'day'
depth = 'feet'
metricdepth = 'meter'
sdiatom = 0.9
ldiatom = 13.5
print(pelagic,coastal,sdiatom,ldiatom)

200 50 0.9 13.5

### part b
Convert the sinking rate of each diatom type to meters/day. (5 points)

In [3]:
ft_to_m=3.2808399
depth = 0
sdiatom = sdiatom / ft_to_m
ldiatom = ldiatom / ft_to_m
depth = sdiatom, ldiatom
print(depth)

(0.2743199995830336, 4.114799993745504)

### part c
Convert the sinking rate of each diatom type to centimeters/hour. (5 points)

In [4]:
day_to_hours =24
m_to_cm =100
sdiatom = sdiatom * m_to_cm
sdiatom = sdiatom / day_to_hours
ldiatom = ldiatom * m_to_cm
ldiatom = ldiatom / day_to_hours
print(sdiatom, 'cm/h', ldiatom, 'cm/h')

1.14299999826264 cm/h 17.1449999739396 cm/h

### part d
Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in turbid coastal water. (5 points)

In [5]:
depth = coastal
sdiatom = sdiatom / m_to_cm
sdiatom = sdiatom * day_to_hours
ldiatom = ldiatom / m_to_cm
ldiatom = ldiatom * day_to_hours
sdiatomsink = depth / sdiatom
ldiatomsink = depth / ldiatom
print(sdiatomsink, 'days', ldiatomsink, 'days')

182.26888333333332 days 12.151258888888888 days

### part e
Calculate how many days it would take for each diatom type to sink from the sea surface to the bottom of the photic zone in clear pelagic water. (5 points)

In [6]:
depth = pelagic
sdiatomsink = depth / sdiatom
ldiatomsink = depth / ldiatom
print(sdiatomsink, 'days', ldiatomsink, 'days')

729.0755333333333 days 48.60503555555555 days

# Question 3 (20 points)

Ribosomal RNA (rRNA) gene sequencing is often used in phylogenetic research. Each sequence is made up of combinations of 4 different nucleobases, adenine (A), cytosine (C), guanine (G), and uracil (U). Every species of bacteria and archaea has a slightly-unique version of its 16s rRNA gene. This means that 16s rRNA can be targeted to classify what marine bacteria are present in a given parcel of seawater.

In the code box below, there are two strings containing different rRNA sequences, which differ from DNA in that they contain uracil (U) nucleobases rather than thymine (T). Answer the following questions using Python. As in Question 2, please have your code output (print) the solutions to each, including any strings you are asked to create or slice.

> a) How many nucleobases are in each of the sequences?
How many times does guanine (G) occur in each of the sequences? (5 points)

> b) Do four uracil (U) nucleobases ever occur side-by-side in either of the sequences? Provide your answers as booleans. (5 points)

> c) Change these rRNA sequences to DNA sequences by replacing the uracil (U) bases with thymine (T) bases in both rRNA sequences. (5 points)

> d) Slice and print the first 24 nucleobases from the new DNA sequences. How many of each nucleobase (A,C,G,T) are in each of these shorter sequences? (5 points)

In [7]:
# Keep these starting lines of code – DO NOT CHANGE THIS!:

RNA1 = 'GGGGGGCAGCAGUGGGGAAUAUUGGGCAAUGGACGAAAGUCUGACCCAGCCAUGCCGCGUGUGUGAAGAAGGCUCUAGGGUUGUAAUGCACUUUAAGUAGGGAGGAAAGGUUGUGUGUUAAUAGCACAUAGCUGUGACGUUACCUACAGAAUAAGCACCGGCUAACUCCGUGCCAGCAGCCGCGGUAAUACGGAGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGCGCGUAGGCGGUUAUUUAAGCUAGAUGUGAAAGCCCAGGGCUCAACCUUGGAAUUGCAUUUAGAACUGGGUAGCUAGAGUACAAGAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGAUUGAUACUGACGCUGAGGUGCGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCCAGUAGUCCU'
RNA2 = 'GGGGCGCAGCAGUGGGGAAUAUUGCACAAUGGGCGAAAGCCUGAUGCAGCCAUGCCGCGUGUGUGAAGAAGGCCUUCGGGUUGUAAAGCGCUUUCAGUUGUGAGGAAAGGGGUGUAGUUAAUAGCUACAUCCUGUGACGUUAGCAACAGAAGAAGCACCGGCUAACUUCGUGCCAGCAGCCUCGGUAAUACGAGGGGUGCAAGCGUUAAUCGGAAUUACUGGGCGUAAAGCGUUCGUAGGCGGUUUGUUAAGCAAGAUGUGAAAGCCCUGGGCUCAACCUGGGAACUGCAUUUUGAACUGGCAAACUAGAGUACUGUAGAGGGUGGUGGAAUUUCCAGUGUAGCGGUGAAAUGCGUAGAGAUUGGAAGGAACAUCAGUGGCGAAGGCGGCCACCUGGACAGAUACUGACGCUGAGGAACGAAAGCGUGGGGAGCAAACAGGAUUAGAUACCCUAGUAGUCUG'

# Provide your answers in cells below:

_Type your answer here, replacing this text._

In [8]:
nucleocount1 = len(RNA1)
print(nucleocount1, 'nucleobases in RNA 1')
nucleocount2 = len(RNA2)
print(nucleocount2, 'nucleobases in RNA 2')

guanine = 'G'
gcount1 = RNA1.count('G')
print(gcount1, 'occurances of guanine in RNA1')
gcount2 = RNA2.count('G')
print(gcount2, 'occurances of guanine in RNA2')

462 nucleobases in RNA 1
462 nucleobases in RNA 2
155 occurances of guanine in RNA1
154 occurances of guanine in RNA2

### part b
Do four uracil (U) nucleobases ever occur side-by-side in either of the sequences? Provide your answers as booleans. (5 points)

In [9]:
# report counter1 and counter2 back as booleans
four_uracil = 'UUUU'
four_ucount1 = RNA1.count('UUUU')
print(four_ucount1 >= 1)
counter1 = four_ucount1

four_uracil = 'UUUU'
four_ucount2 = RNA2.count('UUUU')
print(four_ucount2 >= 1)
counter2 = four_ucount2
...
print(counter1, counter2)

False
True
0 1

### part c 
Change these rRNA sequences to DNA sequences by replacing the uracil (U) bases with thymine (T) bases in both rRNA sequences. (5 points)

In [10]:
DNA1 = RNA1.replace("U", "T")
DNA2 = RNA2.replace("U", "T")

print(DNA1)
print(DNA2)

GGGGGGCAGCAGTGGGGAATATTGGGCAATGGACGAAAGTCTGACCCAGCCATGCCGCGTGTGTGAAGAAGGCTCTAGGGTTGTAATGCACTTTAAGTAGGGAGGAAAGGTTGTGTGTTAATAGCACATAGCTGTGACGTTACCTACAGAATAAGCACCGGCTAACTCCGTGCCAGCAGCCGCGGTAATACGGAGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGCGCGTAGGCGGTTATTTAAGCTAGATGTGAAAGCCCAGGGCTCAACCTTGGAATTGCATTTAGAACTGGGTAGCTAGAGTACAAGAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGATTGATACTGACGCTGAGGTGCGAAAGCGTGGGGAGCAAACAGGATTAGATACCCCAGTAGTCCT
GGGGCGCAGCAGTGGGGAATATTGCACAATGGGCGAAAGCCTGATGCAGCCATGCCGCGTGTGTGAAGAAGGCCTTCGGGTTGTAAAGCGCTTTCAGTTGTGAGGAAAGGGGTGTAGTTAATAGCTACATCCTGTGACGTTAGCAACAGAAGAAGCACCGGCTAACTTCGTGCCAGCAGCCTCGGTAATACGAGGGGTGCAAGCGTTAATCGGAATTACTGGGCGTAAAGCGTTCGTAGGCGGTTTGTTAAGCAAGATGTGAAAGCCCTGGGCTCAACCTGGGAACTGCATTTTGAACTGGCAAACTAGAGTACTGTAGAGGGTGGTGGAATTTCCAGTGTAGCGGTGAAATGCGTAGAGATTGGAAGGAACATCAGTGGCGAAGGCGGCCACCTGGACAGATACTGACGCTGAGGAACGAAAGCGTGGGGAGCAAACAGGATTAGATACCCTAGTAGTCTG

### part d
Slice and print the first 24 nucleobases from the new DNA sequences. How many of each nucleobase (A,C,G,T) are in each of these shorter sequences? (5 points)

In [11]:
DNA1s = DNA1[0:24]
print(DNA1s)

DNA2s = DNA2[0:24]
print(DNA2s)

adenine = 'A'
acount1 = DNA1s.count('A')
print(acount1, 'occurances of adenine in DNAs1')
acount2 = DNA2s.count('A')
print(acount2, 'occurances of adenine in DNAs2')

cytosine = 'C'
ccount1 = DNA1s.count('C')
print(ccount1, 'occurances of cytosine in DNAs1')
ccount2 = DNA2s.count('C')
print(ccount2, 'occurances of cytosine in DNAs2')

guanine = 'G'
gcount1 = DNA1s.count('G')
print(gcount1, 'occurances of guanine in DNAs1')
gcount2 = DNA2s.count('G')
print(gcount2, 'occurances of guanine in DNAs2')

thymine = 'T'
tcount1 = DNA1s.count('T')
print(tcount1, 'occurances of thymine in DNAs1')
tcount2 = DNA2s.count('T')
print(tcount2, 'occurances of thymine in DNAs2')

GGGGGGCAGCAGTGGGGAATATTG
GGGGCGCAGCAGTGGGGAATATTG
5 occurances of adenine in DNAs1
5 occurances of adenine in DNAs2
2 occurances of cytosine in DNAs1
3 occurances of cytosine in DNAs2
13 occurances of guanine in DNAs1
12 occurances of guanine in DNAs2
4 occurances of thymine in DNAs1
4 occurances of thymine in DNAs2

# Question 4 (25 Points)
Tides in the Gulf of Mexico are usually diurnal. This means that there is one high tide and one low tide every ~24 hours. This differs from our local semi-diurnal Seattle tides that have one high and one low every ~12 hours. Tidal amplitudes in the Gulf of Mexico are also very small compared to our local Puget Sound tides.

New Orleans, Louisiana is a city located on the Gulf of Mexico where diurnal tides dominate. The lists below contain the dates, high tide times, low tide times, high tide heights (in feet), and low tide heights (in feet) for tidal forcasts for the week of Oct. 1 - Oct 8, 2022. The lists are each the same length, with each index corresponding to a single day.

Use these lists and build Python code to answer the following questions. As before, please have your code output (print) the solutions and units for each. Make sure you are using the provided variable names to reference your variables instead of hardcoding your answers!

> a) What is the maximum high tide measurement during this week? Find it's index in the list. (5 points)

> b) Use list indexing to print the date of the maximum high tide. Calculate the tidal amplitude for that day. *(Hint: Tidal amplitude = maximum measurement - minumum measurement).* (5 points)

> c) What is the minimum low tide measurement during this week? Find it's index in the list. *(Hint: There is one day that there is no tidal minimum, represented by None rather than a float. You cannot take the minimum of list with a NoneType object. Develop a creative workaround for this problem, and justify your method in your comments!)* (5 points)

> d) Use list indexing to print the date of the minimum low tide. Calculate the tidal amplitude for that day (5 points).

> e) Find out which of the two dates have the highest tidal amplitude using a boolean test. Print and label the date, low tide time, high tide time, and tidal amplitude in the same line.(5 points)

In [12]:
# Keep these starting lines of code – these may not be changed:
dates = ['October 1','October 2','October 3','October 4','October 5','October 6','October 7','October 8']
high_times = ['6:05AM','6:53AM','7:42AM','8:32AM','9:21AM','10:10AM','11:02AM','6:07PM']
low_times = ['4:37PM','6:36PM','9:45PM','11:05PM', None,'00:07AM','1:02AM','1:55AM']
high_measurement_feet = [1.57, 1.65, 1.67, 1.61, 1.44, 1.25, 1.02, 0.85]
low_measurement_feet =  [-0.02, -0.07, -0.03, -0.02, None, 0.03, 0.16, 0.36]

# Provide your answers below:

_Type your answer here, replacing this text._

In [13]:
baseline = 0
baseindex = high_measurement_feet[2]
high_tide_max = baseindex - baseline
print(high_tide_max)

1.67

### part b
Use your variable "baseindex" from part a) with list indexing to print the date of the maximum high tide. Calculate the tidal amplitude for that day. (Hint: Tidal amplitude = maximum measurement - minumum measurement). (5 points)

In [14]:
max_amp2 = baseindex
min_amp2 = low_measurement_feet[2]
max_amp_date = dates[2]
tidal_amp_max = max_amp2 - min_amp2

print(tidal_amp_max, "," , max_amp_date)

1.7 , October 3

### part c
What is the minimum low tide measurement during this week? Find it's index in the list. (Hint: There is one day that there is no tidal minimum, represented by None rather than a float. You cannot take the minimum of list with a NoneType object. Develop a creative workaround for this problem, and justify your method in your comments!) (5 points)

In [15]:
minbase = low_measurement_feet.remove(None)
#takes the "None" out of the list
minbaseindex = low_measurement_feet[1]
...
print(minbaseindex)

-0.07

### part d
Use list indexing to print the date of the minimum low tide. Calculate the tidal amplitude for that day (5 points).

In [16]:
min_amp1 = minbaseindex
max_amp1 = high_measurement_feet[1]
min_amp_date = dates[1]
tidal_amp_min = max_amp1 - min_amp1

print(tidal_amp_min, "," , min_amp_date)

1.72 , October 2

### part e
Find out which of the two dates from part b) and part d) have the higher tidal amplitude using a boolean test. Print and label the date, low tide time, high tide time, and tidal amplitude in the same line.(5 points)

In [17]:
if tidal_amp_min > tidal_amp_max:
    print(min_amp_date, ",", min_amp1, ",", max_amp1, ",", tidal_amp_min, ",")
    
else:
    print(max_amp_date, ",", min_amp2, ",", max_amp2, ",", tidal_amp_max, ",")

October 2 , -0.07 , 1.65 , 1.72 ,